<h3>Register</h3>

<div class="row">
  <div class="col-6">
<form  (ngSubmit)="register()" novalidate [formGroup]="registerForm">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" #name placeholder="Enter Name"  autofocus required formControlName="name" class="form-control"
   [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
    <div *ngIf="f.name.errors.required">Name is required</div>
    <div *ngIf="f.name.errors.minlength">Name must be minimum 3 characters</div>
</div>
  <label for="email">Email</label>

  <input type="text" name="email" id="email" #email placeholder="Enter Email"  autofocus required formControlName="email" class="form-control"
   [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div *ngIf="f.email.errors.required">Email is required</div>
    <div *ngIf="f.email.errors.email">Email is in invalid format</div>
</div>

  <label for="password">Password</label>

  <input type="text" name="password" id="password" #password placeholder="Enter Password"  autofocus required formControlName="password" class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
    <div *ngIf="f.password.errors.minlength">Password must be minimum 8 characters</div>
</div>
<br/>
  <button class="btn btn-success">Submit</button>
  &nbsp;<button type="reset" class="btn btn-danger">Reset</button>
</form>
</div>
</div>
